.container{
    height: 300px;
    display: flex;
    height: 100vh;
    align-items: flex-end;

    
}

.box{
    background-color: aqua;
    width: 33.333%;
    /* margin: 10px; */
   
 
}

.box2{
   padding-bottom: 200px   
   
}


.box6{
    padding-bottom: 0;   
    align-self: baseline;
 }

.box9{
    padding-bottom: 50px;  
    align-self: baseline;
    align-self: stretch;
}
